body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(62, 145, 253);
}

.weather-app {
    display: grid;
    justify-content: center;
}

.weather-app__input {
    padding: 8px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 8px;
    justify-content: center;
}

.weather-app__button {
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    background-image: linear-gradient( 135deg, #72EDF2cc 20%, #5151E5cc 100%);
}

.weather-app__information-card {
    color: white;
    padding: 32px;
    border-radius: 24px;
    background-image: linear-gradient( 135deg, #72EDF2cc 10%, #5151E5cc 100%), url(https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80%22);
    width: 300px;
    height: 400px;
    display: grid;
    z-index: 1;
    align-content: space-between;
    transition: 0.3s;
}

.weather-app__information-card:hover {
    transform: scale(1.05), perspective(1500px), rotateY('10deg');
}

.weather-app__weather-temp {
    font-size: 3rem;
    margin: 0;
}

.weather-app__weather-description {
    margin: 0;
}

.weather-app__day--first-big-letter:first-letter {
    text-transform: uppercase;
}

.weather-app__information {
    display: flex;
}

.weather-app__weather-details {
    display: grid;
    align-content: space-between;
    padding: 32px 32px 32px 64px;
    margin-left: -30px;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 24px;
}

.weather-app__other-days-information {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weather-app__other-days-information__box {
    padding: 8px;
}

.weather-app__weather-info {
    display: flex;
    justify-content: space-between;
}

.weather-app__information--none {
    display: none;
}